body {
  background-image: url("https://images.unsplash.com/photo-1569073120512-05362a6b92e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#splash {
  /* padding-top: 25%; */
  color: white;
  text-align: center;
}

.full-screen {
  height: 100vh;
}

#stories {
  text-align: center;
}

.m-bot-2 {
  margin-bottom: 2em;
}

.m-bot-5 {
  margin-bottom: 5em;
}

.big-text {
  font-size: 6em;
  margin: 0;
}

#splash button {
  background: white;
}

#splash button:hover, #splash a:hover {
  background: black;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 10px white;
}